.logo {
  border-radius: 10px;
}
.nav-item {
  margin-left: 10px;
}
.nav-item:hover {
  transition: ease-out 350ms;
  background-color: #ffad60;
  border-radius: 15px;
  box-shadow: 5px 10px #888888;
  margin: 0px 20px 0px 20px;
  font-weight: bold;
}
